@charset "utf-8";

font_table {
	font-size: 13px;
	line-height: normal;
	color: #333;
	letter-spacing: 0.2em;
	text-indent: 24pt;
}

.font_table2 {
	padding-left:24px;
	font-size: 13px;
	color: #333;
	font-family: arial; 
	border-width: 0; 
}

.font13 {
	font-size: 13px;
	line-height: 17px;
	letter-spacing: 0.1em;
}

.font15 {
	font-size: 15px;
	line-height: 15px;
	letter-spacing: 0.1em;
	text-indent: 24pt;
}

.font15_2 {
	font-size: 15px;
	line-height: 17px;
	letter-spacing: 0.1em;
}

.font_eng {
	font-size: 15px;
	letter-spacing: 0.1em;
	color: #333;
}

.font_eng_small {
	font-size: 13px;
	letter-spacing: 0.05em;
	color: #333;
}


/* 標題用 */
.font_title {
	font-size: 15px;
	font-weight: bolder;
	color: #333;
	line-height: 19px;
}

/* 內文用 */
.font_content {
	font-size: 15px;
	line-height: 25px;
	letter-spacing: 0.1em;
	text-indent: 24pt;
} 

.font_color_light {
	font-size: 15px;
	font-weight: bolder;
	line-height: 15px;
	color: #09C;
}

.font_color_deep {
	font-size: 15px;
	font-weight: bolder;
	color: #006;
	line-height: 15px;
	text-align: left;
	float: left;
}

.font {
}
#WRAP #CONTENT1 #MAIN blockquote table tr td a {

}
